:root{
--primary-color:#2196F3;
--secondary-color:#212121;
--phone-color:#757575;
--background-hero:#2F303A;
--hero-color:#FFFFFF;
}
.logo {
    font-family: 'Raleway', sans-serif; 
    font-size: 26px; font-weight: 700; line-height: 1.19;
    text-decoration: none; color:var(--primary-color);
}
body {
    font-family: 'Roboto', sans-serif; color: var(--secondary-color);
}
ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.list {
    list-style: none;
}
.navigation-links :hover {
    color: var(--primary-color);
}

.navigation {
    font-size: 14px; font-weight: 500; line-height: 1.14;
    color: var(--secondary-color); text-decoration: none;
}
.header-contact:hover {
    color: var(--primary-color);
}
.current {
    color:var(--primary-color);
}
.contacts {
    font-size: 14px; font-weight: 500; line-height: 1.14;
}
.header-contact {
    color: var(--phone-color); text-decoration: none;
}
.hero  {
    background-color: var(--background-hero);
}
.hero h1 {
    font-style: normal; font-weight: 900; font-size: 44px; line-height: 1.36; text-align: center; 
color: var(--hero-color); letter-spacing: 0.06em; width: 696px;;
}
.button-hero {
    background-color: var(--primary-color); 
    color: var(--hero-color); 
    font-weight: 700; font-size: 16px;  
    font-style: bold; line-height: 1.87; 
    cursor: pointer; 
    border: var(--primary-color);
    border-radius: 4px;
    padding: 20px 10px;
}
.button-hero:hover {
    background-color: var(--primary-color);
}
.benefits > h3 {
    color: var(--secondary-color); 
    font-weight: 700; font-size: 14px; line-height: 1.14; letter-spacing: 0.03em;
}
.benefits p {
    color: var(--phone-color); 
    font-weight: 400; font-size: 14px; line-height: 1.71; letter-spacing: 0.03em;
}
.services h2 {
    font-weight: 700; font-size: 36px; line-height: 1.16;
    margin-bottom: 55px;
}
.team h2 {
    font-weight: 700; font-size: 36px; color: var(--secondary-color); line-height: 1.16;
    margin-bottom: 50px;
}
.team h3 {
    font-weight: 500; font-size: 16px; color: var(--secondary-color); line-height: 1.18;
}
.team p {
    font-weight: 400; font-size: 16px; color: var(--phone-color); line-height: 1.18;
}
.footer {
    background-color: var(--background-hero);
    padding: 94px 0;
}
.address {
    color: var(--hero-color); font-style: normal;text-decoration: none; line-height: 1.71;
}
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal; text-decoration: none; line-height: 1.71;
}
.projects h3 {
    font-weight: 700; font-size: 18; line-height: 2;
    color: var(--secondary-color);
    margin-bottom: 4px;
}
.projects p {
    font-weight: 400; font-size: 16; line-height: 1.87;
    color: var(--phone-color);
    margin-top: 4px
    
}
.link-project {
    font-size: 16px; font-weight: 500; line-height: 1.62;
    color: var(--secondary-color); cursor: pointer;
    border: var(--primary-color);
    border-radius: 4px;
    padding: 6px 24px;
}
.button-projects :hover {
    color: var(--hero-color);
    background-color: var(--primary-color);
}
.active-button {
    color: var(--hero-color);
    background-color: var(--primary-color);
}
.header { 
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.border-header {
    border-bottom: 1px #ECECEC solid;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px
}
.navigation-links {
    display: flex;
    gap: 20px;
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
.hero {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 6%;
}
.benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}
.benefits-sections {
    padding: 94px 0;
}
.item-benefits {
    margin-right: 30px;
}
.services {
    padding: 94px 0;

}
.title-services {
    text-align: center;
}
.services-list {
    display: flex;
    justify-content: space-between;
}
.team { 
    background-color: #F5F4FA;
    align-items: center;
    padding: 94px 0;
}
.title-team {
    text-align: center;
}
.team-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
 
}
.id-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}
.id-team > h3 {
    padding-top: 30px;
}
.id-team > p {
    padding-top: 10px;
    padding-bottom: 30px;
}
.buttons-list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.button-projects {
    padding: 8px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards-border {
    border: 1px #EEEEEE solid;
    margin-bottom: 30px;
    flex-basis: calc((100% - 2 * 30px) / 3);
    gap: 30px;
}
/*.projects :hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}*/
.active-card {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.images {
    object-fit: cover;
    width: 100%;
}
.box-buttom {
    padding: 20px 24px;
    height: 110px;
}
.fit-height { 
    overflow: hidden;
}
.portafolio {
    padding: 94px 0;
}
.list-footer {
    padding: 0px;
    width: 231px;
}

